.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    margin-bottom: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-control input {
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    border: none;
    outline: 1px solid black;
    border-radius: 20px;
    height: 30px;
    padding: 0 10px;
    margin-top: 6px;
}

.actions {
    grid-column: span 2;
    text-align: right
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:last-child {
    background-color: #8a2b06;
    color: white;
}

.actions button:first-child:hover {
    background-color: #ddd;
}

.actions button:last-child:hover {
    background-color: #6d280c;
}

.actions button:disabled {
    cursor: not-allowed;
}

.error-message {
    margin: 5px;
    font-size: 10px;
    color: red;
    font-style: italic;
}